@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700);
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  text-align: center;
  /* background-color: #5d4660; */
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5D4660', endColorstr='#FFF7EEC7');
  /* background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkNDY2MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZWVjNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); */
  background-size: 100%;
  /* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d4660), color-stop(100%, #f7eec7)); */
  /* background-image: -moz-linear-gradient(top, #5d4660 0%, #f7eec7 100%); */
  /* background-image: -webkit-linear-gradient(top, #5d4660 0%, #f7eec7 100%); */
  /* background-image: linear-gradient(to bottom, #5d4660 0%, #f7eec7 100%); */
  font-family: 'Droid Sans', sans-serif;
}

.wrap {
  width: 200px;
  margin: 0 auto;
  text-align: left;
  color: #989A8F;
}

.table {
  background-color: #ffffff;
  height: 325px;
  width: 100%;
  margin-top: 50px;
}

ul li {
  float: left;
  width: 199px;
  text-align: center;
  border-left: 1px solid #DDDCD8;
}

.top, .toper {
  background-color: #EAE9E4;
  height: 75px;
}
.top h1 {
  padding-top: 30px;
  font-size: 1.2em;
}

.toper h1 {
  padding-top: 30px;
  font-size: 1.5em;
}

.bottom, .bottom1 {
  margin-top: 50px;
}

.bottom p {
  font-size: 13px;
  font-family: 'Droid Serif', sans-serif;
  padding: 5px;
}

.bottom1 p {
  font-size: 16px;
  font-family: 'Droid Serif', sans-serif;
  padding: 5px;
}

.bottom p span,
.bottom1 p span {
  font-weight: bold;
}

.sign {
  margin-top: 50px;
}

.sbutton:hover {
  color: white;
  background-color:black;
}

.sign .button,
.sign .sbutton {
  margin: 10px;
  border: 1px solid #989A8F;
  padding: 10px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #989A8F;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  font-size: 17px;
}

.row.rides {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.card {
  margin: 10px;
  background: white;
  padding: 20px;
}

.onecard {
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}

.cardonly {
  margin: 10px;
  background: white;
  padding: 20px;
  align-items: center;
  margin-top: 100px;
}

@media all and (max-width:30em){
.sbutton{
  display:block;
  margin:0.4em auto;
  }
}

@media only screen and (max-width: 900px) {
  .row.rides {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 750px) {
  .row.rides {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 616px) {
  .row.rides {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
  }
}