.heading {
  font-size: initial;
  text-align: center;
  padding-top: 70px;
  position: relative;
}

.heading h2 {
  color: #fff;
  letter-spacing: 5px;
  position: relative;
  font-weight: 300;
  font-family: 'Fredoka One', cursive, sans-serif;
  font-size: 2.0rem;
  text-shadow: 3px 3px 1px #181818;
}

.heading p {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  text-shadow: 3px 3px 1px #181818;
}

.contain {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 80%;
}

.rows::before,
.rows::after {
  display: table;
  content: " ";
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 3rem;
}

.search {
  margin: 50px auto;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

@media only screen and (min-width: 760px) {
  .search {
    margin: 50px auto;
    position: relative;
    width: 70%;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 900px) {
  .search {
    margin: 50px auto;
    position: relative;
    width: 50%;
    padding-bottom: 10px;
  }
}

.searchTerm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  outline: none;
  padding: 5px 45px 5px 5px;
}

.searchButton,
.searchIcon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'FontAwesome';
  background: #362130;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
}

.searchButton {
  opacity: 0;
  z-index: 1;
}

.searchIcon:before {
  content: '\f002';
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}


.card {
	background: white;
	margin-bottom: 2em;	
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 80%;
}


@media screen and (min-width: 40em) {
  .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .card {
      display: flex;
      flex: 0 1 calc(50% - .5em);
      margin-bottom: 1em;
  }
}

@media screen and (min-width: 50em) {
  .cards {
      margin-top: inherit;
  }
  
  .card {
      flex: 0 1 calc(33.33% - 1em);
      margin-bottom: 2em;
  }
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 52em) {
  .centered {
      max-width: 52em;
  }
}

@media screen and (min-width: 70em) {
  .cards {
      margin-top: inherit;
  }
  
  .card {
      flex: 0 1 calc(25% - 1em);
      margin-bottom: 2em;
  }
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}